In [26]:
from bokeh.plotting import figure
from bokeh.io import output_file,show,save

In [15]:
## prep some dummy data
x=[-3,-2,-1,0,1,2,3,4,5]
#y=[6,7,8,9,10]

def squared(x):
    return [el**2 for el in x]

#prep output html file
output_file("qline.html")

f=figure()
#create line plot
f.circle(x,squared(x))  # a line glyph

show(f)

In [18]:
import pandas


##get data
df=pandas.read_csv("data.csv")
x=df["x"]
y=df["y"]
#prep output html file
output_file("line_from_csv.html")

f=figure()
#create line plot
f.line(x,y)  # a line glyph

show(f)

In [22]:
##exercise, csv from the web
df=pandas.read_csv("http://pythonhow.com/data/bachelors.csv")
df.head(3)

,Year,Agriculture,Architecture,Art and Performance,Biology,Business,Communications and Journalism,Computer Science,Education,Engineering,English,Foreign Languages,Health Professions,Math and Statistics,Physical Sciences,Psychology,Public Administration,Social Sciences and History
0,1970,4.229798,11.921005,59.7,29.088363,9.064439,35.3,13.6,74.535328,0.8,65.570923,73.8,77.1,38.0,13.8,44.4,68.4,36.8
1,1971,5.452797,12.003106,59.9,29.394403,9.503187,35.5,13.6,74.149204,1.0,64.556485,73.9,75.5,39.0,14.9,46.2,65.5,36.2
2,1972,7.420710,13.214594,60.4,29.810221,10.558962,36.6,14.9,73.554520,1.2,63.664263,74.6,76.9,40.2,14.8,47.6,62.6,36.1

In [28]:
x=df['Year']
y=df['Engineering']

output_file("data_csv_women.html")
f1=figure()
f1.line(x,y)
save(f1)   ##saves to the file just this picture

'/Users/zimine/GoogleDriveSlzdev/zrepos/slzdevsnp/learn/compsci/python/py_bokeh/proj/nb/data_csv_women.html'