In [30]:
import graphlab

In [31]:
people = graphlab.SFrame('people_wiki.gl/')

In [32]:
people.num_rows()

59071

In [33]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [34]:
#compute tfidf SArray
tfidf = graphlab.text_analytics.tf_idf(people['word_count']) 
# add as a columnt to people SF
people['tfidf'] = tfidf

### count words for john

In [35]:
elton = people[people['name'] == 'Elton John']

In [57]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [45]:
#for ref
obama = people[people['name'] == 'Barack Obama']

elton['word_count'] = graphlab.text_analytics.count_words(elton['text'])

In [36]:
## tranform dictionary into table and stort it (chain call)
elton_wcnt_table = elton[['word_count']].stack('word_count', new_column_name = ['word','count']).sort('count',ascending=False)

In [37]:
# quiz words most frequent
elton_wcnt_table.head(3)

Columns:
	word	str
	count	int

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |   27  |
|  in  |   18  |
| and  |   15  |
+------+-------+
[3 rows x 2 columns]

In [38]:
# quiz words less frequent
elton_wcnt_table.sort('count',ascending=True).head(3)

Columns:
	word	str
	count	int

Rows: 3

Data:
+---------+-------+
|   word  | count |
+---------+-------+
|   1994  |   1   |
| samesex |   1   |
|   solo  |   1   |
+---------+-------+
[3 rows x 2 columns]

In [43]:
elton['tfidf']

dtype: dict
Rows: 1
[{'all': 1.6431112434912472, 'six': 2.4538226269605703, 'producer': 2.6157162162644934, 'heavily': 4.584578192498009, 'over': 2.975646311911467, 'named': 2.0300155412252816, 'fifty': 5.11719847609142, 'four': 1.922106072733316, 'openly': 5.056906245835299, 'including': 1.2272824458461182, 'highestprofile': 8.789270811888976, 'years': 1.0752380994247055, 'its': 3.3751896805390627, 'impact': 4.04144432549936, 'westminster': 5.272762583715825, '27': 3.110616229728885, '21': 5.594501726978586, 'wed': 6.908957945319475, 'had': 1.177428412308558, '1947': 3.756656611073944, 'abbey': 5.693190564500702, 'winning': 2.416330313042851, 'late': 2.374355720500003, 'to': 0.1877797507271969, 'commander': 4.099963746694684, 'about': 1.9265128988375737, 'born': 0.268196273764765, '2014': 2.2073995783446634, 'as': 0.2543390440248236, 'has': 3.8564778576963508, '2013': 1.9545642372230505, 'his': 1.0504458208546292, 'march': 1.9573172463231197, 'than': 6.195113430831934, 'song': 2.869182927623221, 'songwriter': 7.349218450296059, 'continues': 3.3444509863519367, 'records': 2.678542843954175, 'five': 2.2137301792754096, 'occasional': 4.771887290803003, 'they': 1.8993401178193898, 'inception': 5.391784009623355, 'world': 1.370623244696304, 'brit': 6.391375539090604, 'him': 4.726752980361581, 'datein': 8.153282045168979, 'hall': 5.270713564278079, 'fivedecade': 10.293348208665249, 'knighthood': 6.9975113426609195, 'bestselling': 9.189156551665185, 'artist': 2.4318137533979653, 'be': 1.4062480045415613, '1996': 2.135691193468776, 'list': 3.1286278298933916, 'roll': 9.162533862388706, 'hercules': 7.322933743095548, 'announced': 2.7377046555287814, 'rock': 5.886949007853824, 'become': 2.4964678658817263, 'bernie': 6.016682089649193, 'outstanding': 3.383594927020439, 'england': 2.646755623206051, 'composer': 3.2290166226410153, 'queens': 4.023305403354957, 'foundation': 5.428871534029564, 'diana': 5.3955084087143375, 'globe': 4.144879912747602, 'artists': 5.450454477295092, 'culture': 3.1328905761273576, 'been': 2.932432006438807, '49': 5.309741586956912, 'year': 1.3423616371539895, 'billboard': 17.30368095754203, 'aids': 10.262846934045534, 'empire': 4.3624301614253005, 'honors': 3.7995943688135627, 'oscar': 4.781937626656504, 'elizabeth': 4.044338683525725, 'composers': 4.295653111806631, 'established': 3.0759047769687164, 'elton': 17.482320270031995, 'for': 0.36431264671643454, 'record': 2.1528869065343033, '58': 5.437419304329975, 'since': 7.276883586540205, 'legal': 3.4243337579995425, 'collaborated': 3.761741983457223, 'outside': 3.6528189935675104, 'consecutive': 7.543981950148101, 'funeral': 5.911321573991367, 'disney': 4.706099550264999, 'solo': 2.838628259301248, 'marriage': 8.230808189229297, 'who': 0.9098952189804214, '25': 2.7469019349192254, '300': 4.553555296486015, 'sold': 6.702383005931559, 'million': 9.053489066276878, 'lgbt': 5.5883326877074415, 'ranked': 7.642003828328697, 'awards': 6.8519553961056126, 'alltime': 4.393450855082757, '100': 8.922437249692202, 'overallelton': 10.986495389225194, 'legend': 4.464402591055042, 'received': 3.0793219631333275, 'hits': 3.7189699613970224, 'english': 2.239461125047026, '33': 4.654993539331503, 'involved': 2.674114792438443, 'industry': 2.9570625486439512, '30': 2.6266580085851636, 'against': 2.0079609791418744, 'david': 2.4512658353228582, 'became': 1.3300599330549516, 'tonightcandle': 10.986495389225194, 'social': 2.6226865047083137, 'samesex': 5.89889905399281, 'contribution': 3.9980822072256026, 'lasting': 5.905091024240731, 'dwight': 6.44320060695519, 'first': 0.6956048713993103, 'golden': 3.618155702913813, 'raised': 3.059531844362216, 'grammy': 4.085764725180022, 'civil': 3.3244978303233013, 'taupin': 9.600201028105303, 'into': 4.815188827219817, 'lyricist': 5.644161137260383, 'number': 4.24604216610848, 'one': 2.79279220142615, 'services': 6.037737299782756, 'ii': 3.3077063910260405, 'kennedy': 4.279633052622447, 'least': 4.251903729252247, 'inducted': 3.6213152632041816, 'parties': 4.495771854722687, 'tony': 3.6043710234876816, '19702000': 10.293348208665249, 'concert': 3.5032509731513444, 'jubilee': 5.648957309523876, 'from': 0.29375533798563447, 'kenneth': 4.798231266142604, 'top': 9.096257662993823, 'cbe': 5.249923091746003, 'copies': 4.500334600281105, '1988': 2.4491074905234376, 'fight': 4.274754994169014, '2': 2.2482408126990716, 'music': 5.378377975206105, 'way': 2.9688582293167167, 'bisexual': 6.7238155121838785, 'hollywood': 3.902268967127278, 'john': 13.93931279239831, 'was': 0.15873157122436693, 'songwriters': 11.250406447031539, 'more': 5.021336851896435, 'brits': 8.421546031763658, 'british': 6.714095277849417, 'diamond': 5.028070696195412, 'champion': 3.176548302748404, 'gay': 8.685411312155043, 'on': 1.1064765201036022, 'successful': 2.679282762596886, 'academy': 7.06577844530489, 'stone': 4.332342869041976, 'award': 8.161139242211844, 'buckingham': 6.6170475367581725, 'authors': 4.320811671442786, 'worked': 1.553891853362109, 'fellow': 2.364041687151464, 'with': 0.40493728504412135, 'entered': 3.3434917536644764, 'he': 1.493579903611068, '10': 2.3157231098806563, '1992': 2.278351314316948, '1994': 2.2375557576874794, '1997': 4.259668904415891, '40': 6.981906890681876, '1998': 2.0687826320938068, 'hosting': 4.806478735572622, 'us': 1.9319904488071395, 'career': 1.3050270203415668, 'nine': 3.2624907325491286, 'era': 3.7913080690464858, 'royal': 2.8056144472288045, 'of': 0.05403029058844982, 'making': 2.7223896254962385, 'male': 4.378494763929107, '31': 3.294838566414648, 'something': 4.272324859315723, 'and': 0.011177158470730924, 'seven': 2.7917137507818355, 'annual': 3.434258101664393, 'palace': 9.813124388259208, 'look': 4.303134443458919, 'december': 4.00285165915879, 'is': 0.11046500190207996, 'partnership': 4.1599501656686, 'an': 0.8947172672456913, '1980s': 2.9688582293167167, 'single': 5.774489654856468, 'performed': 2.5307521601251795, 'have': 1.4416847832984716, 'in': 0.017377314302186087, 'partner': 3.4248536436364145, 'fame': 6.0143129879257335, 'film': 2.033113917057952, 'movements': 5.030658019760364, 'sir': 3.956522477518808, 'no': 7.1892706571891525, 'began': 1.727460095710253, '1967': 3.01368460510379, 'inductee': 6.2951475069960505, 'actor': 2.958040225110943, '1': 4.195753163848633, 'hot': 8.195845859319663, 'musicians': 3.5587565486923007, 'which': 0.7674309670437692, 'influential': 3.738702807457348, 'party': 4.708022306948445, 'you': 2.914652239616036, 'pianist': 4.07474808897352, 'events': 3.0624230643017776, 'worldwide': 7.008752931346158, '200': 3.8524016680323285, 'princess': 5.038460400044548, 'time': 1.3253342074200498, 'singles': 3.7372803321108052, 'albums': 6.041205308281332, 'after': 0.9443334420013064, 'most': 1.4186204428983973, 'two': 1.0988831858473562, 'rolling': 4.8401661315562965, 'such': 1.763337513538397, '2008': 1.5093391374786154, 'icon': 5.433535804303577, 'a': 0.05619184472583146, 'singer': 2.7818235602743835, 'center': 2.378000039402171, 'third': 2.3506306680914584, '2012he': 6.27696518791286, '1976': 2.71622627778857, 'later': 1.4294496043477696, 'reginald': 6.781802769834228, 'having': 2.448323791423765, '2002': 1.8753125887822302, 'charitable': 5.038460400044548, 'wind': 4.86181199833099, '2004': 3.3806887216718016, '2005': 1.6425861253275964, 'at': 0.8612771466165147, 'the': 0.0027426017494956603, 'order': 2.8044952529317895, 'furnish': 18.38947183999428}]

### tf-idf quiz

In [48]:
#examine tfidf for elton most high tf-idf quiz
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [46]:
#for ref
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## cosine distances quiz

In [51]:
vicbeck = people[people['name'] == 'Victoria Beckham']
paulm = people[people['name'] == 'Paul McCartney']

In [53]:
graphlab.distances.cosine(elton['tfidf'][0],vicbeck['tfidf'][0])

0.9567006376655429

In [55]:
#elton is closer to Paul McCartney
graphlab.distances.cosine(elton['tfidf'][0],paulm['tfidf'][0])

0.8250310029221779

### k-means quiz
##### 2 k-nn one on feature tfidf , 2nd  on word_count

In [59]:
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [60]:
knn_wc_model= graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [61]:
#quiz word count Cliff Richard  
knn_wc_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.493ms     |

| Done         |         | 100         | 307.782ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [62]:
#quiz tfidf Rod Stewart
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.52ms       |

| Done         |         | 100         | 308.32ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [63]:
#quiz word count Mary Fitzgerald (artist)
knn_wc_model.query(vicbeck)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.528ms     |

| Done         |         | 100         | 574.542ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [64]:
#quiz tfidf David Beckham
knn_model.query(vicbeck)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.017ms      |

| Done         |         | 100         | 313.373ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [71]:
# for personal interest
putin = people[people['name'] == 'Vladimir Putin']
turing  = people[people['name'] == 'Alan Turing']

In [74]:
knn_model.query(putin)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.506ms      |

| Done         |         | 100         | 252.161ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |  Vladimir Putin |      0.0       |  1   |
|      0      |    Igor Putin   | 0.565020605715 |  2   |
|      0      |   Vera Putina   | 0.659680977993 |  3   |
|      0      | Dmitry Medvedev | 0.687347933213 |  4   |
|      0      |  Alexei Navalny | 0.710051236145 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]