In [1]:
import graphlab

A newer version of GraphLab Create (v2.0.1) is available! Your current version is v1.10.1.

You can use pip to upgrade the graphlab-create package. For more information see https://dato.com/products/create/upgrade.

In [68]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file C:\Users\zimine\Dropbox\cs\bigdata\coursera\mluw\m1\src\people-example.csv

Parsing completed. Parsed 7 lines in 0.014771 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\zimine\Dropbox\cs\bigdata\coursera\mluw\m1\src\people-example.csv

Parsing completed. Parsed 7 lines in 0.017508 secs.

In [69]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [70]:
sf.head(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 2

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
+------------+-----------+---------------+-----+
[2 rows x 4 columns]

In [71]:
sf.tail(3)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 3

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[3 rows x 4 columns]

In [72]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:60494/index.html
Opening Canvas in default web browser.

In [51]:
sf['age'].show(view='Categorical')

Canvas is accessible via web browser at the URL: http://localhost:60494/index.html
Opening Canvas in default web browser.

In [47]:
sf['age'].mean()

23.142857142857146

In [48]:
sf['age'].var()

0.9795918367346939

In [49]:
sf['Full Name'] = sf['First Name']+ ' ' + sf['Last Name']

In [50]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [54]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576L, 529L, 484L, 529L, 529L, 484L, 625L]

In [56]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [58]:
def chg_ctryname(country):
    if country == "USA":
        country = "United States"
    return country

In [60]:
chg_ctryname('Brazil')

'Brazil'

In [61]:
chg_ctryname('USA')

'United States'

In [62]:
sf['Country'].apply(chg_ctryname)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [64]:
sf['Country'] = sf['Country'].apply(chg_ctryname)

In [66]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:60494/index.html
Opening Canvas in default web browser.